<h1>Technological Might</h1>




<ul>
  <% @technologies.each do |technology| %>
  <li><%= link_to technology.title, technology_path(technology.id)%></li>

  <hr>
  <% end %>
</ul>



<%= link_to 'Add technology', new_technology_path, :class => "btn btn-success" %>
